*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aliceblue;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    padding-bottom: 10px;
    text-align: center;
    height: 100px;
    width: 80%;
    border: dashed 3px rgb(199, 227, 253);
    border-radius: 20px;
  
}

section{
    width: 95%;
    margin: auto;
    padding: 30px;
}

form{
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: aliceblue;
    border: dashed 2px rgb(199, 227, 253);
    border-radius: 10px;
}

fieldset{
    padding: 20px;
}

input{
    display: block;
}

footer{
    width: 8%;
    margin: auto;
}

.btn{
    display: flex;
    margin-top: 10px;
}
