*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "fofy";
    src: url(/aulaCores/fonts/Borel-Regular.ttf);
}

body{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #eee0c6;
    text-align: center;
}

header{
    display: block;
    margin: auto;
    
}

#topo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}

#logo{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 200px;
    padding: 5px;
    background-color: rgba(134, 43, 1, 0.849);
    border-radius: 10px;
}

#logo img{
    width: 100%;
}

h1{
    font-family: "fofy";
    margin-top: 10%;
    font-size: 40pt;
    color: rgba(134, 43, 1, 0.849);
    
}

nav ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
}