*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "fofy";
    src: url(/aulaCores/fonts/Borel-Regular.ttf);
}

body{
    min-width: 1000px;
    background-color: #eee0c6;
    box-shadow: 2px 2px 20px black;
}
#container{
    background: linear-gradient(to bottom,rgba(78, 243, 78, 0.048), rgba(1, 92, 1, 0.041),rgba(70, 207, 70, 0.267),rgba(3, 117, 3, 0.342), rgba(0, 128, 0, 0.404));
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    display: block;
    margin: auto;
    text-align: center;
}

#topo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}

#logo{
    position: absolute;
    top: 2%;
    left: 5.2%;
    width: 200px;
    padding: 5px;
    background-color: rgba(153, 90, 18, 0.829);
    border-radius: 10px;
}

#logo img{
    width: 100%;
}

h1{
    font-family: "fofy";


    font-size: 35pt;
    color: rgba(134, 43, 1, 0.849); 
    text-shadow: 2px 3px 1px rgba(66, 21, 0, 0.212);

    background-color: rgba(255, 223, 186, 0.541);
    padding: 30px 100px 10px 100px;

    border-radius: 0px 0px 20px 20px;
    border: solid 10px rgba(172, 98, 2, 0.705);
    border-top: none;
}



nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    background: linear-gradient(rgba(255, 219, 16, 0.356), rgba(226, 148, 2, 0.596));
    padding: 10px;
    
    width: 90%;

    border-radius: 5px;
    border: none;
}

li{
    list-style: none;
    
}
li img{
    width: 55%;
    opacity: 80%;
}

#menu{
    
    margin-top: 6%;
    display: flex;
    justify-content: center;
    
    
}

main{
    margin-top: 4%;
    
    padding-left: 5%;
    padding-right: 5%;
}


h2{
    font-family: "fofy";
    color: rgba(0, 73, 0, 0.842);
    font-style: italic;
    font-size: 20pt;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 2%;
    border-bottom: solid 1px green;
}

#produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10%;
}

figure{
    width: 35%;
    border: solid 2px rgba(0, 56, 0, 0.445);
    padding-bottom: 10px;
    margin: 1%;
    background-color: #fcedd2c9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.048);
}

figure img{
        width: 100%;
}

figcaption{
    font-family: "fofy";
    color: rgb(0, 66, 0);
    font-size: 14pt;
    padding-top: 1%;
}

#sobreNos{
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

p{
    font-family: "fofy";
    width: 40%;
    color: rgb(0, 48, 0);
}

#produtor{
    width: 50%;
    margin-bottom: 3%;
}

footer{
    display: flex;
    justify-content: center;
    background-color: green;

    margin-top: 2%;
}

footer ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer li{
    margin: 20px;
}

footer a{
    text-decoration: none;
    color: #eee0c6;
    font-family: "fofy";
}

.maior{
    transition: transform 0.6s ease-in-out;
}

.maior:hover{
    transform: scale(1.1);
}


@media screen and (min-width: 435px) {
    
}