@font-face {
    font-family: "Antonio";
    src: url("/Pizzaria/fonts/Antonio-VariableFont_wght.ttf");
}
body{
    margin-top: 30px;
}
.nav-vertical{
    ul{
        display: flex;
        padding-top: 20px;
        flex-direction: row;
        
        align-items: center;
        width: 100%;
    }

    li{
        padding-left: 25px;
    }

    width: 20%;
    height: 90px;
    padding-top: 40px;
    transform: translateY(0);
    background-color: rgba(255, 240, 240, 0.603);
}

.mainLand{
    display: block;
    padding-top: 80px;
    width: 100%;
}

.total-tela{
    width: 100%;
    background-color: #e0bc9bc9;
}


.itemH1-mainTotal{
    margin-top: 8%;
}

#logo img{
    width: 45%;
}

.itemlogo-mainTotal{
    left: 2%;
}

section{
    text-align: center;
}

.figuras{
    
    
    figure{
        margin: auto;
        background-color:#6e2626;
        flex: 0 0 5em;
        height:270px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
    }

    figcaption{
        font-family: "Antonio";
        color: #faeadcc9;
    }

    img{
        width: 350px;
    }
}

.carrossel{
    ouverflow-x: auto;
    display: flex;
}

.carrossel::-webkit-scrollbar{}

.carrosselGrupo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}



.final{
    position: relative;
    margin: 0;
    background-color: transparent;

    li, a{
        color: white;
    }
}