@font-face {
    font-family: "Aton";
    src: url("/Pizzaria/fonts/Anton-Regular.ttf");
}
@font-face {
    font-family: "Antonio";
    src: url("/Pizzaria/fonts/Antonio-VariableFont_wght.ttf");
}
body{
    margin-top: 30px;
}
.nav-vertical{
    ul{
        display: flex;
        padding-top: 20px;
        flex-direction: row;
        
        align-items: center;
        width: 100%;
    }

    li{
        padding-left: 25px;
    }

    width: 20%;
    height: 90px;
    padding-top: 40px;
    transform: translateY(0);
    background-color: rgba(255, 240, 240, 0.603);
}

.mainLand{
    display: block;
    padding-top: 80px;
    width: 100%;
}

.total-tela{
    width: 100%;
    background-color: #e0bc9bc9;
}


.itemH1-mainTotal{
    margin-top: 8%;
}

#logo img{
    width: 45%;
}

.itemlogo-mainTotal{
    left: 2%;
}


/*Corpo do site*/

/*Apresentação*/
.apresentacao{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 2%;
}

#textApresentacao{
    width: 25%;
    text-align: justify;
    color: #3a1414;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.3px;
    line-height: 22px;
    
}

.pessoas{
    width: 35%;
}
/*Parte da pizzas*/
section{
    text-align: center;
    margin: auto;
}

.figuras{
    

    figure{
        margin: auto;
        background-color:#6e2626;
        flex: 0 0 5em;
        width: 450px;
        height: 270px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        
        transition: transform .4s ease-in-out;
    }

    figcaption{
        font-family: "Antonio";
        color: #faeadcc9;
    }

    img{
        height: 90%;
    }
}

figure:hover{
    transform: scale(1.05);
    
    .figuras{
        box-shadow: 1px 1px 1px #6e2626;
    }
}

.bordaSupInf{
    border: solid 1px #4719196b;
    border-left: none;
    border-right: none;
}

.carrosselGrupo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}


.cardapio{
    text-decoration: none;
}

/*Sessão de promoções*/

.promos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #692424;
    height: 120px;
    border-radius: 10px;
    margin-top: 3em;
    padding: 20px;
}

.butaoCard{
    display: none;
    background-color: #990000;
    border-radius: 5px;
}

.butaoCard a{
    text-decoration: none;
    color: white;
    margin: auto;
    
}

.cardPromo{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #fcc325c0;
    color: #742222a9;
    border-radius: 2px;
    padding: 5px;
    box-shadow: -5px 5px 1px #dbb13e91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
    p{
        padding: 2px;
        margin-top: .3em;
        font-size: 9pt;
    }
    transition: transform .1s ease-in;
}

.card{
    anchor-name: --card;
}

.cardPromo:hover{
    transform: scale(1.05);
    
    p{
        margin-bottom: 20px;
    }

    .butaoCard{
        display: block;
        position: fixed;
        position-anchor: --card;
        position-area: bottom;
        
    }
}

.cardPromo h3{
    font-family: "Antonio";
    color: #990000;
    font-size: 12pt;
}

/*Informações de contato e endereço*/
.ondeEncontrar{
    margin: auto;
    width: 70%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#ondeEncontrarH2{
    border-bottom: solid 1px #4719196b;
    margin-top: 2%;
    font-size: 22pt;
    font-family: "Antonio";
    color: #7a1818;
    padding-bottom: 1%;
}
.contatos{
    background-color: #8f0e0ea2;
    border-radius: 10px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    flex-direction: column;
}
.contato img{
    width: 90px;
}

/*footer*/
.final{
    position: relative;
    margin: 0;
    background-color: transparent;

    li, a{
        color: white;
    }
}