*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Aton";
    src: url(/Pizzaria/fonts/Anton-Regular.ttf);
}

@font-face{
    font-family: "Antonio";
    src: url(/Pizzaria/fonts/Antonio-VariableFont_wght.ttf);
}

body{
    
    background-color: #520606;
    margin: auto;
}

/* Cabeçalho */
header{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/*Título*/
.itemH1{
    order: 2;
    
    height: 10%;
    width: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 20px 60px 20px 60px;
    border-radius: 20px;
}

h1{
    font-size: 2vw;
    letter-spacing: 1%;
}

.fontAmarela{
    font-family: "Aton";
    background: linear-gradient(to bottom, #ffca59,#fea953, #de7701);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caixaVermelha{
    font-family: "Aton";
    background-color: #993434;
    text-align: center;
    
}


/*Logo*/
.itemlogo{
    order: 3;
    position: absolute;
    left: 2%;
    
}

#logo img{
    width: 60%;
    margin-left: -10%;
    margin-right: 40%;
}

/*Menu de navegação*/

.itemNav{
    order: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);

}

nav{
    background-color: #e0bc9bd3;
    border-radius: 10px;
    padding: 15px;
    height: auto;
    display: flex;

}

#menu-mobile{
    display: none;
}
    
ul{
    padding-top: 20px;
    flex-direction: column;
}

li{
    list-style-type: none;
    padding-bottom: 30px;
}

nav img{
    width: 60%;
}

/* Conteúdo principal */
main{
    display: block;
    margin-bottom: 2%;
}

form{
    
    z-index: -1;

    margin: auto;
    height: auto;
    width: 50%;
    padding: 2.5%;
    padding-top: calc(2% + 130px);
    background-color: #e0bc9bd3;
    border-radius: 20px;

    margin-top: 2.5%;
}



.contanerForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

label{
    font-family: "Antonio";
    color: #760909;
    width: 10%;
    font-size: 1.3vw;
}
input{
    background-color: #9d4b3f;
    width: 85%;
    border: none;
    border-radius: 10px;
    color: #e0bc9b;
    padding: 2%;
    
}

input::placeholder{
    color: #e0bc9b;
    font-size:1.8vh;
}

.botoes{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn{
    width: 20%;
    height: 20%;
    padding: 10px;
    border-radius: 10px;
}

.btn input{
    font-size: 1vw;
}

@media screen and (max-width: 435px){
    
    /*Título*/
    .itemH1{
        margin-top: 140px;
        padding: 20px 40px 20px 40px;
    }

    h1{
        font-size: 7vw;
    }

    /*logo*/
    .itemlogo{
        left: 0;
        transform: translateX(-5%);
    }

    #logo img{
        width: 35%;
    }
     
    /*Menu*/
    .itemNav{
        top: 5%;
        right: 0;
        transform: translateY(-50%);
    }
    nav{
        background-color: transparent;
    }

    #menu-mobile{
        display: block;
        width: 35px;
    }

    ul{
        display: none;
    }

    /*Conteúdo principal*/
    main{
        left: 50%;
        padding-top: calc(2% + 120px);
        transform: translateX(-50%);
        width: 90%;
        top:calc(10% + 30px);
    }

    label{
        font-size: 5vw;
    }

    input{
        width: 80%;
    }

    form{
        padding: 5%;
        padding-top: 1%;
    }

    .contanerForm{
        flex-direction: column;
    }

    label{
        width: 100%;
    }

    input{
        width: 100%;
        margin-top: 2%;
    }

    .botoes{
        margin-top: 15%;
    }

    .btn input{
        font-size: 4vw;
    }

    .btn{
        width: 30%;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.525);
}
